/* Imoprt fonts */

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Press+Start+2P&family=Righteous&display=swap");

/* General */

a,
button {
  transition: 0.3s all;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

body {
  background-color: black;
  font-family: "Oxygen", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
}

/* Header */

header {
  background: rgba(19, 15, 64, 0.9);
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
}

header .inner-header {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .logo {
  max-width: 400px;
}

.header-form {
  height: 0;
  overflow: hidden;
}

header .inner-header form {
  display: flex;
  align-items: center;
}

header .inner-header form input,
header .inner-header form select {
  font-size: 14px;
}

header .inner-header form input {
  width: 150px;
}

header .inner-header form button {
  font-family: "Press Start 2P", cursive;
  background: none;
  border: none;
  font-size: 13pt;
  cursor: pointer;
  color: #dff9fb;
  padding: 5px 15px;
}

header .inner-header form button:hover {
  background: #dff9fb;
  color: #130f40;
}

header .inner-header .close-btn {
  font-family: "Press Start 2P", cursive;
  background: #dff9fb;
  border: none;
  font-size: 13pt;
  cursor: pointer;
  color: #130f40;
  padding: 5px 15px;
  transition: 0.3s all;
  margin-right: 15px;
}

header .inner-header .close-btn:hover {
  background: #130f40;
  color: #dff9fb;
}

/* Slider */

.slider {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
  flex-direction: column;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.slider h3 {
  color: white;
  font-family: "Righteous", cursive;
  font-size: 45pt;
  margin-bottom: 15px;
  text-align: center;
}

/* Deals List */

.deals-list {
  z-index: 20;
  background: rgba(19, 15, 64, 0.9);
  width: 100%;
  min-height: 100vh;
  display: none;
  opacity: 0;
  transform: translateY(100vh);
  padding-top: 150px;
}

.deal-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px 0;
  align-items: center;
  color: #dff9fb;
  border-bottom: 1px solid #dff9fb;
}

.deals-list .heading-list {
  display: flex;
  justify-content: space-between;
}

.deals-list .heading-list div,
.deal-box div {
  width: 14%;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

.deals-list .heading-list div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deals-list .heading-list div img {
  width: 20px;
  margin-left: 10px;
}

.deals-list .heading-list div {
  background: #dff9fb;
}

.deals-list .heading-list .savings-percent,
.deals-list .heading-list .price,
.deal-box .price,
.deal-box .savings-percent {
  width: 10%;
}

.deals-list .heading-list .title,
.deal-box .title {
  width: 32%;
}

.deal-box .title {
  display: flex;
  align-items: center;
  text-align: left;
}

.deal-box .title img {
  margin-right: 10px;
}

.deal-box .price span {
  display: block;
  text-decoration: line-through;
  color: #535c68;
}

.deal-box a {
  color: white;
  background: #6ab04c;
  text-decoration: none;
  padding: 10px 20px;
}

.deals-list .query {
  font-family: "Press Start 2P", cursive;
  color: #dff9fb;
  text-align: center;
  line-height: 25px;
  margin-bottom: 20px;
}

/* Search Form */

.slider form {
  text-align: center;
}

.slider .close-btn {
  display: none;
}

input[type="number"],
select {
  background: #dff9fb;
  border: none;
  padding: 10px 20px;
  color: #130f40;
  font-size: 20pt;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
}

input[type="number"]::placeholder {
  color: rgba(19, 15, 64, 0.5);
  font-size: 12px;
}

input[type="number"] {
  width: 200px;
  margin-right: 10px;
}

.slider form button {
  font-family: "Press Start 2P", cursive;
  margin-top: 15px;
  background: none;
  border: none;
  font-size: 20pt;
  cursor: pointer;
  color: #dff9fb;
  padding: 5px 15px;
}

.slider form button:hover {
  background: #dff9fb;
  color: #130f40;
}

form button:disabled {
  opacity: 0.3 !important;
  color: white !important;
  background: none !important;
}

.no-results {
  color: #dff9fb;
  font-size: 18pt;
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 700px) {
  .App {
    flex-direction: column;
  }

  header {
    position: static !important;
  }

  .slider h3 {
    font-size: 25pt;
  }

  .slider form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  .slider {
    padding: 0 20px;
  }

  .slider form button {
    font-size: 14pt;
  }

  .deals-list {
    padding-top: 40px;
  }

  .header-form form {
    display: block !important;
    text-align: center;
  }

  .header-form .close-btn {
    margin-bottom: 15px;
    text-align: center;
  }

  .header-form input {
    display: block;
    width: 100% !important;
    margin-bottom: 15px;
  }

  .deals-list .savings-percent,
  .deals-list .rating,
  .deals-list .heading-list {
    display: none;
  }

  .deals-list .deal-box {
    display: block;
    text-align: center;
  }

  .deals-list .deal-box div {
    width: 100%;
    text-align: center;
  }

  .deals-list .deal-box .title {
    display: block;
  }
}
